@use './variables' as *;
@use './mixins' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background: $background-color;
  color: $text-color;
  overflow-x: hidden;
}
